.blue-300 {
    background-color: $blue-300;
    color: $white-300;
}

.green-300 {
    background-color: $green-300;
    color: $white-300;
}

.red-300 {
    background-color: $red-300;
    color: $white-300;
}

.yellow-300 {
    background-color: $yellow-300;
    color: $white-300;
}

