.app-container {
    display: flex;
    height: 100vh;
}

.todo-list-container {
    flex: 1 1 auto;
    overflow: auto;
    padding: 20px;
}

@media (max-width: 750px) {
    .app-container {
        flex-direction: column;
    }
}