.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-list-item {
    border-left: 5px solid $red-300;
    padding: 25px 20px;
    position: relative;
    margin: 0 0 10px 0;
    transition: box-shadow .2s ease-in-out;
}

.todo-list-item:hover {
    box-shadow: 0 3px 8px $black-100;
}

.todo-list-item.complete {
    border-color: $green-300;
}

.todo-item-description {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1; 
    margin: 0 0 15px 0;
}

.cancel-icon,
.complete-icon,
.complete .not-complete-icon,
.edit-mode .edit-todo-icon,
.edit-mode .todo-item-description,
.edit-todo-form,
.edit-mode .todo-item-options {
    display: none;
}

.complete .complete-icon,
.edit-mode .cancel-icon {
    display: inline;
}

.edit-mode .edit-todo-form {
    display: flex;
}